<div ng-controller="controllerAgregarSerie">

    <div class="letras" ng-repeat="letra in letras">
        <a ng-click="muestraSeriesInicial(letra)" href> {{letra}}</a>

    </div>

    <div class="listadoSeriesInicial">
        <li ng-repeat="serie in seriesInicial">
            <a>{{serie.nombreSerie}}</a>
            <a class="botonAgregar" ng-click="agregaPendientes(serie)" href> Agregar</a>
        </li>
    </div>





    
    <div class="abajo">
        <p> Todas las series de la plataforma actualmente: </p>
        <li ng-repeat="serie in series">
            {{serie.nombreSerie}}
        </li>
    </div>
</div>