  <div class="bloqueEmpezadas">
    <div class="empezadas">
      <strong>Empezadas</strong>
    </div>
    <ul class="contenidoEmpezadas">
        <div ng-controller="muestraSeriesPrincipal">
            <li ng-repeat="serie in seriesEmpezadas">
                <a href="#!VerSerie" ng-click="verSerieFun(serie)"> {{serie.nombreSerie}}</a>
            </li>
        </div>
    </ul>
  </div>

  <div class="bloquePendientes">
    <div class="pendientes">
      <strong>Pendientes</strong>
    </div>
    <ul class="contenidoPendientes">
        <div ng-controller="muestraSeriesPrincipal">
            <li ng-repeat="serie in seriesPendientes">
              <a href="#!VerSerie" ng-click="verSerieFun(serie)"> {{serie.nombreSerie}}</a>
            </li>
        </div>
    </ul>
  </div>

  <div class="bloqueTerminadas">
    <div class="terminadas">
      <strong>Terminadas</strong>
    </div>
    <ul class="contenidoTerminadas">
       <div ng-controller="muestraSeriesPrincipal"> 
          <li ng-repeat="serie in seriesTerminadas">
            <a href="#!VerSerie" ng-click="verSerieFun(serie)"> {{serie.nombreSerie}}</a>
          </li>
       </div>
    </ul>
  </div>