* {
	box-sizing: border-box;
}

.padreTitulo {
	position: relative;
}

.header {
	position: relative;
	border-bottom: 0.05em solid;
	padding-top: 0.5em;
	padding-bottom: 1em;
	text-align: center;
	width: 100%;
	margin: 0;
}

.logo {
	position: absolute;
	float: left;
	padding-left: 1.5em;
}

.menu {
	padding: 0.8em;
}

[class=menu] a {
	padding-right: 1.5em;
}

.contenidoEmpezadas {
	padding: 0.2em;
	margin-top: 0.1em;
	list-style: none;
	border: 0.06em solid;
	border-color: black;
}



.bloqueEmpezadas {
	padding: 0.4em;
}

.contenidoPendientes {
	padding: 0.2em;
	margin-top: 0.1em;
	list-style: none;
	border: 0.06em solid;
	border-color: black;
}

.bloquePendientes {
	padding: 0.4em;
}

.contenidoTerminadas {
	padding: 0.2em;
	margin-top: 0.1em;
	list-style: none;
	border: 0.06em solid;
	border-color: black;
}

.bloqueTerminadas {
	padding: 0.4em;
}